# Misc
DEBUG=True

# Database Credentials
DB_NAME=talatrivia
DB_USER=talatrivia
DB_PASSWORD=talatrivia
DB_HOST=db
DB_PORT=5432

# JWT
JWT_SECRET=changeme-use-a-real-secret-in-production
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440